# Gradle files
.gradle/
build/
gen/

# Local configuration files
local.properties

# Android Studio / IntelliJ files
.idea/
*.iml

# APK / Bundle outputs (Allowing astitva_os_v1.apk and idsig uploads)
# *.apk
*.ap_
*.aab
# *.idsig

# Model weights & native binary caches
*.tflite
*.gguf
aapt2

# Temp and OS files
*.log
*.tmp
.DS_Store
